/* parcours */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFD100;
    color: #000;
    display: flex;
    justify-content: center;
}

.timeline-container {
    text-align: center;
    max-width: 700px;
    padding: 20px;
}

h1 {
    background-color: #111;
    color: #FFD100;
    padding: 20px 0;
    font-size: 2em;
    margin: 0;
}

.timeline {
    position: relative;
    margin: 20px auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.step::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 100%;
    background-color: #111;
    
}

.step:not(:first-child)::before {
    top: 0;
    
}
.step:first-child::before {
    border-top-left-radius:20rem;
    border-top-right-radius:20rem ;
    
}
.step:last-child::before {
    border-bottom-left-radius:5rem ;
    border-bottom-right-radius:5rem ;
    
}

.step::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #FFD100;
    border-radius: 50%;
    border: 4px solid #111;
    box-sizing: border-box;
}

.step .month {
    background-color: #111;
    color: #FFD100;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    width: 100px;
    text-align: center;
}

.step .content {
    text-align: left;
    max-width: 300px;
    padding-right: 120px;

}

.step .content h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.step .content p {
    font-size: 0.9em;
    line-height: 1.4;
}

@media (max-width: 900px) {
    .timeline-container {
        max-width: 100%;
    }
    
    .timeline {
        padding: 10px;
    }

    .step .content, .step .month {
        max-width: 100%;
        text-align: center;
    }
}
