body {
  box-sizing: border-box;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Pokemon Solid', sans-serif;
  font-family: 'Pokemon Solid', sans-serif;
  color: gold;



}

#pokemons {
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;


}

h1 {
  font-size: 7em;
  letter-spacing: 2rem;
  transform: translatey(0px);
  text-shadow: 10px 10px 20px blue;
  opacity: 0;
  animation: header 2s 1s infinite;
}

@keyframes header {
  0% {


    opacity: .05;
  }




  50% {

    opacity: 0.5;
  }





  100% {

    opacity: 1;
  }
}


.popokemon {
  margin-top: 3%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  color: gold;
  width: 9rem;
  height: 9rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  background-color: black;
  letter-spacing: 2px;
  transition: 1s box-shadow;

}


.popokemon::after {

  color: currentColor;
  text-decoration: none;

}

.popokemon:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);

  >img,
  h2 {
    scale: 110%;
    animation: float 0s ease-in-out infinite;
  }
}


.popokemon:hover::before,
.popokemon:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 100%;
  z-index: -5;
  animation: 1s clockwise infinite;
}

.popokemon:hover:after {
  background: red;
  animation: 2s counterclockwise infinite;

}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
}

h2 {
  position: absolute;
  margin-top: 10em;
  font-size: 30px;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 0.3rem;
  text-shadow: 2px 7px 20px blue;

}

.pokeball{
  width: 32px;
  margin-left: 10px;
  }
img {
  width: 170px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}



.buttonludo {
  display: flex;
  align-content: center;
  justify-content: center;
  border: none;
  position: fixed;
  bottom: 1%;
  right: 2%;
  background-color: transparent;
  width: fit-content;
  height: fit-content;

}

#ludo {
  width: 70px;

}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 200%;
    letter-spacing: .7em;
  }

  a {
    margin-top: 15%;
    width: 8rem;
    height: 8rem;

  }

  a:hover::before,
  a:hover::after {
    width: 9.5rem;
    height: 9.5rem;
  }

  h2 {
    margin-top: 150%;
  }
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 200%;
    letter-spacing: .7em;
  }

  a {
    margin-top: 15%;
    width: 9rem;
    height: 9rem;

  }

  a:hover::before,
  a:hover::after {
    width: 100%;
    height: 100%;
  }

  h2 {
    margin-top: 150%;
  }
}